extends layout

block content
	.container
		br
		br
		table.bordered-table.zebra-striped
			thead
				tr
					th.text-white Email
					th.text-white Date Added
			tbody
				each user, i in userlist
					tr
						td.text-white #{user.email}
						td.text-white #{user.dateInserted}