extends landingPage/layout

block content
	.container
		.row.margin-top-5p
			.col-md-8.col-md-offset-2
				h1.text-white ERROR
		.row.margin-top-5p
			.col-md-4.col-md-offset-4
				form(action="/")
					button.btn.btn-primary.btn-lg.btn-block.margin-center.border-square.bg-red-border(type='submit') HOME