extends layout

block content
	.error-page
		.screenBg
			br
			br
			.row
				col-md-12
					h1.text-white.text-bold ERROR
			br
			br
			br
			.row
				.btn-box
					a.btn.btn-primary.btn-lg.btn-block.btn-square.btn-large-custom.btn-red(href='home') HOME