extends layout

block content
	div#home-page
		.screenBg
			.tagLine
				h1.text-white The newest member in your meetings.
				.btn-box
					a(class='btn btn-primary btn-lg btn-block btn-square btn-large-custom btn-red' href='home#about-page') LEARN MORE
	div#about-page
		.container
			.row
				.col-md-10.col-md-offset-1
					h2 MeetingBuddy technology transforms the way you prep, run, and follow-up with your meetings. Focus on what's important.
					br
			.row
				.col-md-10.col-md-offset-1
					h2 MeetingBuddy provides an easy-to-use tool that leverages technology to simplify the process of preparing for, running, and following up on meetings in order to 
						span.text-red.text-bold increase 
						| worker productivity.
					br
			.row
				.col-md-10.col-md-offset-1
					h2 Middle management spends 
						span.text-red.text-bold 17 hours 
						| in meetings weekly.
						br
						span.text-red.text-bold 44% 
						| of those are unproductive.
						br
						| That's 
						span.text-red.text-bold 2.3 months 
						| wasted a year
					br
			.row
				.col-md-10.col-md-offset-1
					h2
						span.text-red.text-bold It's time to take back your time.
					br
			form.form-inline.form-center(role='form', name='addUser', method='POST', action='/adduser')
				.row
					.col-md-10.col-md-offset-1.spacing-top.form-group
						input#userEmail(name='userEmail', type="email", class="form-control btn-square", placeholder='EMAIL')
				.row.spacing-top-1
					.btn-box
						button(type='submit', class='btn btn-primary btn-lg btn-block btn-square btn-large-custom btn-red') I'M READY
		hr.spacing-top-5
		div#team-page
			.container
				.row
					.col-md-12
						h1 Meet the team
				.row
					.col-md-4
						img.img-responsive.img-center(src='images/joLee.jpg', alt='Josephine Lee')
						h5.text-bold JOSEPHINE LEE
						br
						h5 Northwestern Senior
							br
							| Learning and Organizational Change.
							br
							| President of EPIC.
					.col-md-4
						img.img-responsive.img-center(src='images/AlexPopelard.jpg', alt='Alexandre Popelard')
						h5.text-bold ALEXANDRE POPELARD
						br
						h5 Kellogg School of Management
							br
							| MMM(MBA+MEM)
							br
							| Senior Engineer at Toyota.
					.col-md-4
						img.img-responsive.img-center(src='images/SuzeeHan.jpg', alt='Suzee Han')
						h5.text-bold SUZEE HAN
						br
						h5 Northwestern Junior
							br
							| Biological Science
							br
							| Director of Project Pitch			
				.row.spacing-top-5
					.col-md-4
						img.img-responsive.img-center(src='images/MichaelChen.jpg', alt='Michael Chen')
						h5.text-bold MICHAEL CHEN
						br
						h5 Northwestern Junior
							br
							| Computer Science and Biological Science
							br
							| Software Developer at MD Andersen Cancer Center	
					.col-md-4
						img.img-responsive.img-center(src='images/TommyYu.jpg', alt='Tommy Yu')
						h5.text-bold TOMMY YU
						br
						h5 Northwestern Senior
							br
							| Computer Science
							br
							| Software Developer at Nokia
					.col-md-4
						img.img-responsive.img-center(src='images/blank.jpg', alt='Abe')
						h5.text-bold ABE
						br
						h5 Our meeting buddy.
				footer.spacing-top-3
					h3 &copy; MeetingBuddy 2014