extends sidebarNavbar

block content
	.bg-white(style="margin-left:14%; top:0px; position:absolute; width:86%; float:right")
		.container-95p.margin-center(style="margin-top:15%")
			img.img-responsive.margin-center(src="images/seamlogo-red.png")