extends header

block content
	.container.margin-top-5p
		.row
			.col-md-12
				img.img-responsive.margin-center.img-30p(src="images/seamlogo-red.png")
		.row.margin-top-5p
			.col-md-12
				h2.text-upper.text-normal Welcome, Josephine
		.row
			.col-md-12
				h4 Select a project, or create a new one.
		.row.margin-top-1p
			.col-md-6.col-md-offset-3
				hr.bg-ltgray
				h5.margin-top-0x.margin-bottom-0x
					a.text-upper.text-bold.text-h4.text-black(href="interfaceWelcome") EPIC
		.row
			.col-md-6.col-md-offset-3
				hr.bg-ltgray
				h5.margin-top-0x.margin-bottom-0x
					a.text-upper.text-bold.text-h4.text-black(href="interfaceWelcome") FARLEY CENTER
		.row
			.col-md-6.col-md-offset-3
				hr.bg-ltgray
				h5.margin-top-0x.margin-bottom-0x
					a.text-upper.text-bold.text-h4.text-black(href="interfaceWelcome") NUVENTION WEB
		.row
			.col-md-6.col-md-offset-3
				hr.bg-ltgray
