extends signedin

block content
	.container-75p.margin-top-5p.margin-left-15p.margin-top-100x
		.row.bg-gray
			.col-md-12
				h3.text-center.text-vertical-center
					span.text-white EPIC: ALL HANDS MEETING
		.row.bg-grayblue.padding-top-2p
			.col-md-10
				.progress.border-square
					.progress-bar.progress-bar-success(style='width: 35%;')
					.progress-bar.progress-bar-warning(style='width: 20%;')
					.progress-bar.progress-bar-danger(style='width: 10%;')				
			.col-md-2
				h4.margin-top-1p 2:00:11
		.row.bg-grayblue.padding-bottom-1p
			.col-md-12
				h3.text-center.text-capital Objective: Get team updates and plan for social media launch
		.row.bg-gray.margin-top-3p
			.col-md-12
				h3.text-center.text-white AGENDA
		.row.bg-grayblue.padding-top-2p
			.col-md-12
				h4.text-left.text-bold.text-capital 1. Team issues
				h5.text-left.margin-left-2p.text-capital [00:02] Project Pitch prepared great update
				h5.text-left.margin-left-2p.text-capital [00:04] group members came in late
				h5.text-left.margin-left-2p.text-capital [00:02] audrey fell asleep
		.row.bg-grayblue.padding-bottom-2p#agenda1
			form.form-inline.form-center(role='form', method='POST', action='/signup')
				.col-md-9.col-sm-9.form-group
					input.margin-left-2p.form-control.border-square.border-none.text-left(id='signup', type='text', name='email', placeholder= 'Start Typing...')
				.col-md-3.text-center
					button.btn.btn-primary.btn-lg.margin-right.border-square.bg-ltgray-nohover.border-ltgray.padding-bottom-2p.text-black-nohover(type='submit') NOTE
					button.btn.btn-primary.btn-lg.margin-left-1p.margin-right.border-square.bg-gray-nohover.border-gray.padding-bottom-2p(type='submit') TASK		
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-12
				h4.text-left.text-bold.text-capital 2. presentation from audrey about surveys
		.row.bg-grayblue.padding-bottom-2p#agenda1
			form.form-inline.form-center(role='form', method='POST', action='/signup')
				.col-md-9.col-sm-9.form-group
					input.margin-left-2p.form-control.border-square.border-none.text-left(id='signup', type='text', name='email', placeholder= 'Start Typing...')
				.col-md-3.text-center
					button.btn.btn-primary.btn-lg.margin-right.border-square.bg-ltgray-nohover.border-ltgray.padding-bottom-2p.text-black-nohover(type='submit') NOTE
					button.btn.btn-primary.btn-lg.margin-left-1p.margin-right.border-square.bg-gray-nohover.border-gray.padding-bottom-2p(type='submit') TASK
		.row.bg-gray.margin-top-3p.margin-top-2x
			.col-md-12
				h3.text-center.text-white.text-upper ASSIGNED TASKS
		.row.bg-grayblue.padding-top-2p
			.col-md-10
				h5.text-left.text-capital Order pizza for social media launch next week
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='taskInterface' title="edit")
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-10
				h5.text-left.text-capital Email ISBE Presidents for connection
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='taskInterface' title="edit")
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-10
				h5.text-left.text-capital tell team members to present OKR for next week
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='taskInterface' title="edit")
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-10
				h5.text-left.text-capital Reimbursements for the team
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='taskInterface' title="edit")
		.padding-top-3p