extends signedin

block content
	.page.margin-center
		.container-85p.bg-white.margin-center
			.row
				.col-md-11.col-md-offset-1
					h2.text-left
						span.text-black Josephine's 
						span.text-red Dashboard
			.row.bg-white
				.col-md-12
					h2.text-black MY TASKS
			.row.bg-ltgray			
				.col-md-10.col-md-offset-1			
					h3.text-black.text-left
						strike Finish EPIC Site
				.col-md-1.padding-top-1p
					a.text-white.border-50p.bg-red-hover.text-h2.text-center.margin-top-5p(href="/personalDashboard2", class="text-center lsf-icon" , style="margin-left:10px", title="check") 
			.row.bg-white			
				.col-md-10.col-md-offset-1			
					h3.text-black.text-left Email Mike Marasco
				.col-md-1.padding-top-1p
					a.text-white.border-50p.bg-red-hover.text-h2.text-center(href="/personalDashboard2", class="text-center lsf-icon" , style="margin-left:10px;", title="check") 
			each user, i in userlist
				if(i%2==0)
					.row.bg-ltgray			
						.col-md-10.col-md-offset-1			
							h3.text-black.text-left #{user.meetingTask}
						.col-md-1.padding-top-1p
							a.text-white.border-50p.bg-red-hover.text-h2.text-center(href="/personalDashboard2", class="text-center lsf-icon" , style="margin-left:10px;", title="check") 
				else
					.row.bg-white		
						.col-md-10.col-md-offset-1						
							h3.text-black.text-left #{user.meetingTask}
						.col-md-1.padding-top-1p
							a.text-white.border-50p.bg-red-hover.text-h2.text-center(href="/personalDashboard2", class="text-center lsf-icon" , style="margin-left:10px;", title="check") 
				