extends sidebarNavbar

block content
	.bg-ltgray.float-left.top-0x(style="width:26%; margin-left:14%; position:absolute; min-height:100%; height: auto;")
		.row.margin-top-10p
			.col-md-12
				h5.text-black.text-upper.text-bold upcoming meetings
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-black.text-h5.text-upper(href="interfaceStartMeeting") epic all hands meeting
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-black.text-h5.text-upper(href="interfaceStartMeeting") farley center advisory board meeting
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-black.text-h5.text-upper(href="interfaceStartMeeting") meeting with dean ottino
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-black.text-h5.text-upper(href="interfaceStartMeeting") project pitch debrief
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-black.text-h5.text-upper(href="interfaceStartMeeting") all business meeting
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-red.text-h5.text-upper.text-center.text-bold(href="/interfaceNewMeeting") add new meeting
		hr.width-100p.bg-black
		.row.margin-top-10p
			.col-md-12
				h5.text-black.text-upper.text-bold upcoming meetings
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5.text-black.text-upper farley center advisory board meeting
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5.text-black.text-upper epic all hands meeting
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5.text-black.text-upper meeting with dean ottino
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5.text-black.text-upper project pitch debrief
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5.text-black.text-upper all business meeting
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5.text-red.text-upper
					a.text-red.text-h5.text-upper.text-center(href="/interfaceNewMeeting") load meetings
		.padding-bottom-10p
	block interfaces