doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/base.css')
		link(rel='stylesheet', href='/stylesheets/fonts.css')
		title= title
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-47126611-1', 'meetingbuddy.herokuapp.com');
			ga('send', 'pageview');
	body#home-pg
		.navbar.bg-transparent.navbar-static-top(style="padding-top:0px; margin-top:0px", role='navigation')
			.container-95p.margin-center
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='offcanvas', data-target='.sidebar-nav')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(href='welcomeInterface')
						img.navbar-brand.img-30p.img-responsive(src="images/seamlogo.png")
		.side-container(style="margin-top:200px;")
			.row.row-offcanvas.row-offcanvas-left
				#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation' style="min-width:100%")
					ul.nav
						li.active.bg-grayblue.margin-top-2x.padding-top-20x.padding-bottom-20x
							a.lsf-icon.text-black.text-big(href='PMInterface' title="memo")
						li.bg-grayblue.margin-top-2x.padding-top-20x.padding-bottom-20x
							a.lsf-icon.text-black.text-big(href='meetingInterface' title="group")
						li.active.bg-grayblue.margin-top-2x.padding-top-20x.padding-bottom-20x
							a.lsf-icon.text-black.text-big(href='taskInterface' title="checkbox")
						li.bg-grayblue.margin-top-2x.padding-top-20x.padding-bottom-20x
							a.lsf-icon.text-black.text-big(href='home' title="gear")
						li.bg-grayblue.margin-top-2x.padding-top-20x.padding-bottom-20x
							a.lsf-icon.text-black.text-big(href='home' title="power")
		block content
		script(src='https://code.jquery.com/jquery.js')
		script(src='javascripts/bootstrap.min.js')
		script(src='javascripts/signed-in.js')
		script(src='javascripts/hidden-div.js')