extends signedin

block content
	.container-75p.margin-top-5p.margin-left-15p.margin-top-100x
		.row.bg-gray
			.col-md-12
				h3.text-center.text-vertical-center
					span.text-white EPIC: ALL HANDS MEETING TASKS
		.row.bg-grayblue.padding-top-2p.padding-bottom-1p
			.col-md-10
				.progress.border-square
					.progress-bar.progress-bar-success(style='width: 35%;')			
			.col-md-2
				h4.margin-top-1p 25/45 TASKS
		.row.bg-gray.margin-top-3p
			.col-md-12
				h3.text-center.text-white TASKS IN PROGRESS
		.row.bg-grayblue.padding-top-2p
			.col-md-10
				h5.text-left.text-capital Order pizza for social media launch next week
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='#' title="edit")
				a.lsf-icon.text-black.text-big(href='#' title="bell")
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-10
				h5.text-left.text-capital submit EPIC sweater reimbursements
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='#' title="edit")
				a.lsf-icon.text-black.text-big(href='#' title="bell")
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-10
				h5.text-left.text-capital connect the programming team with NSH presidents
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='#' title="edit")
				a.lsf-icon.text-black.text-big(href='#' title="bell")
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-10
				h5.text-left.text-capital launch blog page
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='#' title="edit")
				a.lsf-icon.text-black.text-big(href='#' title="bell")

		.row.bg-gray.margin-top-3p.margin-top-2x
			.col-md-12
				h3.text-center.text-white.text-upper COMPLETED TASKS
		.row.bg-grayblue.padding-top-2p
			.col-md-10
				h5.text-left.text-capital confirm venue for EPIC team retreat
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='#' title="view")
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-10
				h5.text-left.text-capital send initial emails out to level three NUVC sponsors
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='#' title="view")
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-10
				h5.text-left.text-capital write "thank you" cards to donors
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='#' title="view")
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-10
				h5.text-left.text-capital confirm speakers for week 3 project pitch workshop
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='#' title="view")
		.padding-top-3p