/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 769px) {
/* ========================================================
   0A.BASIC_STYLES-DESKTOP
=========================================================== */
html, body {
	height: 100%;
}

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
body{
	background-color:transparent;
	color:#7F8289;
	font-weight:300;
	font-family: 'Lato', sans-serif;
	font-size:1em;
	line-height:20px;
	padding-top: 50px;
}
/* ========================================================
   0B.TYPOGRAPHY-DESKTOP
=========================================================== */
h1,h2,h3,h4,h5,h6,p,a,input, textarea{
	font-family: 'Lato', sans-serif;
	font-size:14px;
	font-weight: 300; 
	text-align:center;
	vertical-align:middle;
	/*color:#FFF;*/
	color: #000;
	text-decoration: none;
}
h1{
	font-size:55px;
}
h2{
	font-size:34px;
}
h3{
	font-size:22px;
}
h4{
	font-size:20px;
}
h5{
	font-size:18px;
}
h6{
	font-size:16px;
}
p{
	font-size:14px;
}
a{
	font-size:14px;
}
a:hover{
	color:rgb(204,51,51);
	text-decoration:none;
}
hr{
   height:3px;
   width:80%;
}
button{
	border:none;
}
.form-control{
	margin:0 auto;
	height:40px;
	border-color:#000;
	border-width: 1px;
}
.form-control-smaller{
	height:35px;	
}
.hidden-login{
	z-index:99;
	position: relative;
	opacity: 1;
	display:none;
}
.visible-login{
	display: block;
	z-index:5;
	position: relative;
	opacity: 1;
	transition:all 0.8s ease-in-out;
}
/* ========================================================
   1A.FONTS-DESKTOP
=========================================================== */
.text-white{
	color:rgb(255,255,255) !important;
}
.text-red{
	color:rgb(204,51,51);
}
.text-bold{
	font-weight: 700;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-middle{
	text-align: middle;
}
.text-h2{
	font-size:34px;
}
.text-h4{
	font-size:20px;
}
.text-big{
	font-size: 36px;
}
.text-bigger{
	font-size: 40px;
}
.text-biggest{
	font-size: 50px;
}
.text-small{
	font-size: 14px;
}
.text-smaller{
	font-size: 10px;
}
.text-smallest{
	font-size: 8px;
}
/* ========================================================
   1A.BACKGROUND-DESKTOP
=========================================================== */
.bg-frontpg{
	background: url(../images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bg-white{
	background-color: #FFF;
}
.bg-transparent{
	background-color: transparent;
}
.bg-red{
	background-color: rgb(204,51,51);
}
.bg-red-hover{
	background-color: rgb(204,51,51);
}
.bg-red-hover:hover{
	background-color: rgb(230,230,230);
}
.bg-red-border{
	background-color: rgb(204,51,51) !important;
	border-color:rgb(204,51,51) !important;
}
.bg-red-border:hover{
	background-color:rgb(220,220,220) !important;
	border-color:rgb(220,220,220) !important;
}
.bg-gray{
	background-color: #232323;
	border: solid 2px #000;
	border-bottom-color: #FFF;
}
.bg-ltgray{
	background-color: rgb(230,230,230);
}
.bg-white-black-border{
	background-color: rgb(250,250,250);
	border: solid 2px #000;
	border-right-color: #000;
}
/* ========================================================
   1B.POSITION-DESKTOP
=========================================================== */
.position-abs{
	position: absolute;
}
.disp-inline{
	display: inline-block;
}
.overflow-scroll-y{
	overflow-y: scroll;
}
.overflow-hidden{
	overflow: hidden;
}
/* ========================================================
   1B.SPACING-DESKTOP
=========================================================== */
.margin-top-n12p{
	margin-top: -12%;
}
.margin-center{
	margin-left: auto;
	margin-right: auto;
}
.margin-top-10x{
	margin-top:10px;
}
.margin-top-1p{
	margin-top:1%;
}
.margin-top-3p{
	margin-top:3%;
}
.margin-top-5p{
	margin-top:5%;
}
.margin-right-5x{
	margin-right: 5px;
}
.padding-top-1p{
	padding-top: 1%;
}
.padding-top-7p{
	padding-top: 7%;
}
.padding-bottom-1p{
	padding-bottom: 1%;
}
.padding-bottom-5p{
	padding-bottom: 5%;
}
.padding-bottom-10p{
	padding-bottom: 10%;
}
/* ========================================================
   1C.IMAGES-DESKTOP
=========================================================== */
.img-15p{
	width:15%;
	height:15%;
}
.img-30p{
	width:30%;
	height:30%;
}
.img-45p{
	width:45%;
	height:45%;
}
.img-100p{
	width:100%;
	height:100%;
}
/* ========================================================
   1D.BORDER-DESKTOP
=========================================================== */
.border-50p{
	border-radius: 50%;
}
.border-square{
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.border-black{
	border-color:#000;
	border-width: 1px;
}
/* =======================================================
   1E.PAGES-DESKTOP
========================================================== */
.page{
	position: relative;
	overflow: hidden;
	margin-top:0;
}
.full-page{
	height: 100%;
}
.container-85p{
	width:85%;
}
.container-500x{
	height: 500px;
}
/* =======================================================
   2.NAVIGATION-DESKTOP
========================================================== */
.navbar .nav > li > a {
    color:  #FFF;
}
.navbar .nav > li > a:hover {
   color:rgb(204,51,51);
}
/* =======================================================
   3.FRONT_PAGE-DESKTOP
========================================================== */
.tagLine {
	width: 80%;
	margin:0 10%;
	margin-top:29%;
}
}