/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 769px) {
/* ========================================================
   0A.BASIC_STYLES-DESKTOP
=========================================================== */
html, body {
	height: 100%;
	background-color: #FFF;
}

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
body{
	background-color:transparent;
	color:#7F8289;
	font-weight:300;
	font-family: 'Lato', sans-serif;
	font-size:1em;
	line-height:20px;

}
/* ========================================================
   0B.TYPOGRAPHY-DESKTOP
=========================================================== */
h1,h2,h3,h4,h5,h6,p,a,input, textarea{
	font-family: 'Lato', sans-serif;
	font-size:14px;
	font-weight: 300; 
	text-align:center;
	vertical-align:middle;
	/*color:#FFF;*/
	color: #000;
	text-decoration: none;

}
h1{
	font-size:42px;
	line-height: 44px;
}
h2{
	font-size:32px;
	line-height: 32px;
}
h3{
	font-size:22px;
	line-height: 24px;
}
h4{
	font-size:20px;
	line-height: 24px;
}
h5{
	font-size:16px;
	line-height: 18px;
}
h6{
	font-size:14px;
	line-height: 16px;
}
p{
	font-size:14px;
}
a{
	font-size:14px;
}
a:hover{
	color:rgb(204,51,51);
	text-decoration:none;
}
hr{
	margin: 12px auto;
   height:2px;
   width:80%;
}
button{
	border:none !important;
}
input{
	border:none;
	background-color: transparent;
	outline: none;
  	box-shadow:none !important;
}
.red-input input::-webkit-input-placeholder {
	color:rgb(204,51,51) !important;
	text-transform: uppercase;
}
.red-input input::-moz-placeholder {
	color:rgb(204,51,51) !important;
	text-transform: uppercase;
}
.red-input input:-moz-placeholder {   /* Older versions of Firefox */
	color:rgb(204,51,51) !important;	text-transform: uppercase;
}
.red-input input:-ms-input-placeholder { 
	color:rgb(204,51,51) !important;
	text-transform: uppercase;
}
textarea:focus, input:focus{
    outline: 0;
    border:none;
}
.form-control{
	margin:0 auto;
	height:40px;
	border-color:#000;
	border-width: 1px;
}
.form-control-smaller{
	height:35px;	
}
.hidden-login{
	z-index:99;
	position: relative;
	opacity: 1;
	display:none;
}
.visible-login{
	display: block;
	z-index:5;
	position: relative;
	opacity: 1;
	transition:all 0.8s ease-in-out;
}
.cursor-pointer{
	cursor: pointer;
}
/* ========================================================
   1A.FONTS-DESKTOP
=========================================================== */
.text-white{
	color:rgb(255,255,255) !important;
}
.text-white-redhover{
	color:rgb(255,255,255) !important;
}
.text-white-redhover:hover{
	color:rgb(204,51,51) !important;
}
.text-red{
	color:rgb(204,51,51) !important;
}
.text-red-hover{
	color:rgb(204,51,51);
}
.text-red-hover:hover{
	cursor: pointer;
	color:#FFF;
}
.text-grayblue{
	color:rgb(212,219,226);
}
.text-black{
	color:rgb(0,0,0) ;
}
.text-black-nohover{
	color:rgb(0,0,0) ;
}
.text-black-nohover{
	color:rgb(0,0,0) !important;
}
.text-bold{
	font-weight: 700;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: middle !important;
}
.text-vertical-center{
	vertical-align: center;
}
.text-upper{
	text-transform: uppercase;
}
.text-capital{
	text-transform: capitalize;
}
.text-italic{
	font-style: italic;
}
.text-h2{
	font-size:34px;
}
.text-h3{
	font-size:22px;
}
.text-h4{
	font-size:20px;
}
.text-h5{
	font-size:16px;
}
.text-big{
	font-size: 36px;
}
.text-bigger{
	font-size: 40px;
}
.text-biggest{
	font-size: 50px;
}
.text-small{
	font-size: 14px;
}
.text-smaller{
	font-size: 10px;
}
.text-smallest{
	font-size: 8px;
}
/* ========================================================
   1A.BACKGROUND-DESKTOP
=========================================================== */
.bg-frontpg{
	background: url(../images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.bg-black{
	background-color: #000;
}
.bg-white{
	background-color: #FFF;
}
.bg-transparent{
	background-color: transparent;
}
.bg-gray-blue{
	background-color:rgb(212,219,226);
}
.bg-green{
	background-color: #73FF56;
}
.bg-red{
	background-color: rgb(204,51,51);
}
.bg-red-hover{
	background-color: rgb(204,51,51);
}
.bg-red-hover:hover{
	background-color: rgb(37,37,37);
}
.bg-red-border{
	background-color: rgb(204,51,51) !important;
	border-color:rgb(204,51,51) !important;
}
.bg-red-border:hover{
	background-color:rgb(37,37,37) !important;
	border-color:rgb(37,37,37) !important;
}
.bg-gray{
	background-color: rgb(37,37,37);
}
.bg-gray-nohover{
	background-color: rgb(37,37,37);
}
.bg-gray-nohover:hover{
	background-color: rgb(37,37,37);
}
.bg-ltgray{
	background-color: rgb(225,225,225);
}
.bg-ltgray-nohover{
	background-color: rgb(225,225,225);
}
.bg-ltgray-nohover:hover{
	background-color: rgb(225,225,225);
}
.bg-white-black-border{
	background-color: rgb(250,250,250);
	border: solid 2px #000;
	border-right-color: #000;
}
/* ========================================================
   1B.POSITION-DESKTOP
=========================================================== */
.position-abs{
	position: absolute;
}
.position-fixed{
	position: fixed;
}
.disp-inline-block{
	display: inline-block;
}
.disp-inline{
	display: inline;
}
.top-0x{
	top:0px;
}
.bottom-0x{
	bottom: 0px;
}
.float-left{
	float: left;
}
.overflow-scroll-y{
	overflow-y: scroll;
}
.overflow-hidden{
	overflow: hidden;
}
/* ========================================================
   1B.SPACING-DESKTOP
=========================================================== */
.margin-top-n12p{
	margin-top: -12%;
}
.margin-center{
	margin-left: auto;
	margin-right: auto;
}
.margin-top-0x{
	margin-top:0px;
}
.margin-top-2x{
	margin-top:2px;
}
.margin-top-5x{
	margin-top:5px;
}
.margin-top-10x{
	margin-top:10px;
}
.margin-top-100x{	
	margin-top:100px;
}
.margin-top-1p{
	margin-top:1%;
}
.margin-top-3p{
	margin-top:3%;
}
.margin-top-5p{
	margin-top:5%;
}
.margin-top-10p{
	margin-top:10%;
}
.margin-top-15p{
	margin-top:15%;
}
.margin-top-20p{
	margin-top: 20%;
}
.margin-left-15x{
	margin-left: 15px;
}
.margin-left-1p{
	margin-left: 1%;
}
.margin-left-2p{
	margin-left: 2%;
}
.margin-left-5p{
	margin-left: 5%;
}
.margin-left-15p{
	margin-left: 15.5%;
}
.margin-right-5x{
	margin-right: 5px;
}
.margin-bottom-0x{	
	margin-bottom:0px;
}
.margin-bottom-3p{
	margin-bottom: 3%;
}
.padding-top-20x{
	padding-top: 20px;
}
.padding-top-1p{
	padding-top: 1%;
}
.padding-top-2p{
	padding-top: 2%;
}
.padding-top-3p{
	padding-top: 3%;
}
.padding-top-5p{
	padding-top: 5%;
}
.padding-top-7p{
	padding-top: 7%;
}
.padding-bottom-20x{
	padding-bottom:20px;
}
.padding-bottom-1p{
	padding-bottom: 1%;
}
.padding-bottom-2p{
	padding-bottom: 2.5%;
}
.padding-bottom-5p{
	padding-bottom: 5%;
}
.padding-bottom-10p{
	padding-bottom: 10%;
}

/* =======================================================
   1E.PAGES-DESKTOP
========================================================== */
.page{
	position: relative;
	overflow: hidden;
	margin-top:0;
}
.page-navbar{

}
.page-sidebar{

}
.page-interface{

}
.full-page{
	height: 100%;
}
.container-500x{
	height: 500px;
}
.container-75p{
	width:77%;
}
.container-85p{
	width:85%;
}
.container-90p{
	width:90%;
}
.container-95p{
	width:95%;
}
.container-99p{
	width:100%;
}
.container-100p{
	width:100%;
}
.width-150x{
	width:150px;
}
.width-250x{
	width:300px;
}
.width-100p{
	width: 100%;
}
.height-20x{
	height:20px;
}
.height-24x{
	height: 24px;
}
.height-30x{
	height: 30px;
}
.height-80x{
	height: 60px;
}
.height-100p{
	height:100%;
}
/* ========================================================
   1C.IMAGES-DESKTOP
=========================================================== */
.img-15p{
	width:15%;
	height:15%;
}
.img-30p{
	width:30%;
	height:30%;
}
.img-45p{
	width:45%;
	height:45%;
}
.img-100p{
	width:100%;
	height:100%;
}
.img-width-80x{
	width:80px;
}
.img-height-80x{
	height: 80px;
}
.img-gray {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.img-gray:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}
.bar {
  -webkit-transition: width 30.0s ease !important;
     -moz-transition: width 30.0s ease !important;
       -o-transition: width 30.0s ease !important;
          transition: width 30.0s ease !important;
}
/* ========================================================
   1D.BORDER-DESKTOP
=========================================================== */
.border-50p{
	border-radius: 50%;
}
.border-shadow-red{
	box-shadow: 0 0 8px  rgba(204,51,51, .8);
	-webkit-box-shadow: 0 0 8px  rgba(204,51,51, .8);
	-moz-box-shadow: 0 0 8px  rgba(204,51,51, .8);
}
.border-square{
	-webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.border-black{
	border-color:#000;
	border-width: 1px;
}
.border-red{
	background-color:rgb(204,51,51) !important;
	border-width: 1px;
}
.border-gray-blue{
	background-color:rgb(212,219,226)!important;
	border-width: 1px;
}
.border-gray-blue:hover{
	background-color:rgb(212,219,226)!important;
	border-width: 1px;
}
.border-gray{
	border-color:rgb(37,37,37) !important;
	border-width: 1px;
}
.border-gray:hover{
	border-color:rgb(37,37,37)  !important;
	border-width: 1px;
}
.border-ltgray{
	border-color:rgb(225,225,225) !important;
	border-width: 1px;
}
.border-ltgray:hover{
	border-color:rgb(225,225,225)!important;
	border-width: 1px;
}
.border-none{
	border:none;
}
/* =======================================================
   2.NAVIGATION-DESKTOP
========================================================== */
.navbar .nav > li > a {
    color:  #FFF;
    background-color: none;
}
.navbar .nav > li > a:hover {
   color:rgb(204,51,51);
}
.nav > li {
	 background-color: none !important;
}
.nav > li > a{
	color:rgb(204,51,51);
}
#sidebar .nav > li > a:hover{
	color:rgb(204,51,51);
	background-color:rgb(37,37,37)!important;
}
#sidebar .nav > li > a:focus{
	color:rgb(204,51,51);
	background-color:rgb(37,37,37)!important;
}
/* =======================================================
   3.FRONT_PAGE-DESKTOP
========================================================== */
.tagLine {
	width: 80%;
	margin:0 10%;
	margin-top:29%;
}
/* =======================================================
   3.HIDDEN_DIV-DESKTOP
========================================================== */
.hidden-div h3	{ cursor:pointer; }
.hidden-div h3.active	{ color:#d74646; }
.hidden-div div { height:0; overflow:hidden; position:relative; }
.hidden-div div .row	{ padding:0; margin-bottom:15px; }
}
.box{
    width:50px;
    height:100px;
    border:1px solid black;
    display:inline-block;
    *dsplay:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    white-space:normal;
}