extends ../dashboard/baseLayout

block content
	form(role='form', method='POST', action='/dashboard/meetings/makeMeeting/add', id='addMeeting')
		.row
			.col-md-12.bg-white.border-gray.border-shadow-1x.border-round(style='min-height:150px; height:auto')
				.row
					.col-md-10.col-sm-10.col-xs-10.margin-top-1p
						input.noEnterSubmit.text-h3.height-30x.form-control.border-square.border-none.text-left.bg-transparent(id='makeMeeting', type='text', name='meetingTitle', placeholder= 'MEETING TITLE', autofocus='autofocus', autocomplete='on', required)
				.row
					.col-md-10.col-sm-10.col-xs-10.margin-top-1p
						input.noEnterSubmit.text-h4.height-30x.text-orange.form-control.border-square.border-none.text-left.bg-transparent(id='makeMeeting', type='text', name='objective', placeholder= 'OBJECTIVE', autocomplete='on', required)
		.row.margin-top-2p.margin-bottom-3p
			.col-md-9
				.row.bg-white.border-gray.border-shadow-1x.margin-right-1p.margin-left.height-auto.padding-bottom-3p.border-round
					.container-95p.margin-center
						.row
							.col-md-6.margin-top-1p.padding-bottom-2p
								h4.text-left.text-normal.text-gray MEETING AGENDA
						#agendaBox
							.row
								.col-md-1.margin-top-1p.padding-bottom-2p.margin-0.padding-0
									div.height-100p.width-100p
										.progress.progress-striped.progress-vertical-circle-bigger.progress-striped.active.progress-success.margin-top-n1x.margin-bottom-0p
											.bar(style="width:40px")
								.col-md-7.margin-0.padding-0
									input.noEnterSubmit.text-h3.height-30x.form-control.border-square.border-none.text-left.text-blue.bg-transparent(id='makeMeeting1', type='text', name='agendaTopic', placeholder= 'ADD AGENDA ITEM', autocomplete='on', required)
								.col-md-3
									input.noEnterSubmit.text-h3.height-30x.form-control.border-square.border-none.text-right.bg-transparent(id='makeMeeting1', type='number', name='duration', placeholder= 'TIME', autocomplete='on', required)
							.row
								.col-md-1.margin-top-1p.padding-bottom-2p.margin-0.padding-0
									div.height-100p.width-100p
										.progress.progress-striped.progress-vertical-line-shorter.progress-striped.active.progress-success.margin-top-n1x.margin-bottom-0p
											.bar(style="width:40px")
								.col-md-9.margin-0.padding-0
									div.width-95p.margin-top-1p.overflow-scroll-y-auto.max-height-150x
										textarea.text-h4.height-30x.form-control.border-square.border-none.text-left.bg-transparent(rows='6', id='makeMeeting1', type='text', name='notes', placeholder= 'INSERT NOTES HERE', autocomplete='on', required)
						.row
							.col-md-1.margin-top-1p.padding-bottom-2p.margin-0.padding-0
									div.height-100p.width-100p
										.progress.progress-striped.progress-vertical-circle-bigger.progress-striped.active.progress-success.margin-top-n1x.margin-bottom-0p
											.bar(style="width:40px")
							.col-md-11.margin-0.padding-0
								div.width-95p.margin-top-1p.margin-left-1p
									a#addAgendaItem.text-gray-hover.text-h3.margin-0(href="#" onclick="addAgendaItem()") ADD MORE
			.col-md-3
				.row.height-auto.bg-white.border-gray.border-shadow-1x.margin-left-1p.overflow-scroll-y-auto.overflow-x-hidden.padding-bottom-10p.border-round-top
					.col-md-12.margin-top-1p.margin-left-3p
						h4.text-left.text-normal.text-gray.margin-left-3p MEETING INFORMATION
						.container-95p.margin-center.margin-top-5p
							.row
								.col-md-12
									h4.text-left.text-normal.text-dark-blue SCHEDULING
							.row
								.col-md-12
									input.noEnterSubmit.text-h4.height-30x.text-orange.form-control.border-square.border-none.text-left.bg-transparent(id='makeMeeting', type='text', name='location', placeholder= 'LOCATION', autocomplete='on', required)
							.row 
								.col-md-12
									input.noEnterSubmit.text-h4.height-30x.text-black.form-control.border-square.border-none.text-left.bg-transparent(id='makeMeeting', type='text', name='meetingDate', placeholder= 'DATE AND START TIME', autocomplete='on', required)
							.row 
								.col-md-6
									h4.text-left.text-gray.margin-left-10x DURATION
								.col-md-6
									input.margin-top-5x.text-h3.text-gray.text-left.noEnterSubmit(id='makeMeeting', type='text', name='meetingTime', placeholder="DURATION" autocomplete='off', value='0', readonly)
				.row.height-auto.bg-white.border-gray.border-shadow-1x.margin-left-1p.overflow-scroll-y-auto.overflow-x-hidden.margin-top-10p.padding-bottom-10p.border-round
					.col-md-12.margin-top-1p.margin-left-3p
						h4.text-center.text-normal.text-gray.margin-left-3p ATTENDEES
							.container-95p.margin-center.margin-top-5p
								div#attendeeList
								.row.margin-top-5p#addNewAttendee(style="display: none")
									.col-md-8
										input.noEnterSubmit.form-control.border-square.text-left.border-none(type='text', name='nameHolder', value='', id='nameHolder', placeholder= 'NAME', tabindex='1')
									.col-md-4
										button.border-square.btn-blue-hover.padding-btn(type='button' onclick='addAttendee()', tabindex='3') ADD
									.col-md-12
										input.noEnterSubmit.form-control.border-square.text-left.border-none(type='text', name='emailHolder', value='', id='emailHolder', placeholder= 'EMAIL', tabindex='2')
								.row.margin-top-5p
									.col-md-8.col-md-offset-2.text-center.margin-top-3p
										button.border-square.btn-blue-hover.padding-btn(type='button' onclick='showAttendeeForm()') NEW ATTENDEE
				.row.margin-left-1p
					.col-md-12.col-sm-12.col-xs-12.margin-top-1p.text-left.margin-top-2p.text-center.margin-top-10p
						button.border-square.btn-blue-hover.text-h3.padding-btn(type='submit') SAVE MEETING
	script(src='../../../javascripts/moment-2.4.0.js')
	script(src='../../../javascripts/bootstrap-datetimepicker.min.js')
	link(rel='stylesheet', href='../../../stylesheets/bootstrap-datetimepicker.css')
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css')
	script(src='../../../javascripts/meetings-addAgenda.js')