extends ../dashboard/sidebarMeetings

block interfaces
	.bg-white(style="margin-left:35%; top:0px; position:absolute; width:65%; float:right")
		.container-85p.margin-center
			.row.margin-top-5p
				.col-md-6.col-md-offset-3
					h3.text-black.text-bold.text-upper create an agenda
			.row.margin-top-20p
				.col-md-6.col-md-offset-3
					button.border-red.btn.btn-primary.btn-lg.btn-block.border-square.bg-red-hover.text-white-nohover(type='button', onClick="addNote(#{i})") LOAD AGENDA
			.row.margin-top-10p
				.col-md-6.col-md-offset-3
					a(href='/dashboard/meetings/makeMeeting/new')
						button.border-red.btn.btn-primary.btn-lg.btn-block.border-square.bg-red-hover.text-white-nohover(type='button') NEW AGENDA