extends layout2

block content
	div#home-page.page.min-height-100p
		.container-70p.margin-center.margin-bottom-5p.mobile-margin-top-150x.padding-bottom-2p
			.row.margin-top-10p
				h1.text-white boo
			.row
				.col-md-12.text-center
					h1.text-blue.text-big.text-normal Imagine a world with fewer, better meetings.
			.row.margin-top-1p
				.col-md-12.text-center
					h3.text-black.text-center Our team was fed up with the way meetings occupied our lives - meetings that we didn’t have to be in, meetings that ran way over time and meetings that made no decisions. After meetings, we would crawl back to our desks feeling unproductive and frustrated. 
			.row.margin-top-1p
				.col-md-12.text-center
					h3.text-black.text-center So we created SEAM, a tool to help you feel productive in the meeting room. SEAM helps you plan for focused discussions, gives you the power to move the conversation forward and aligns your team on next steps at the end of the meeting. We want to support the way you work by changing the way you meet.
			.row.margin-top-1p
				.col-md-12.text-center
					h3.text-black.text-center Meetings aren’t going to disappear forever, but better meetings lead to fewer meetings down the road. And we believe the fewer meetings the better. So give SEAM a try. And feel free to let us know what you think at contact@getseam.co. We want to make meetings better for all of us. 
			.row.margin-top-1p
				.col-md-12.text-center
					h3.text-black.text-center Ready to meet the newest member of your meetings?
			.row
				.col-md-4.col-md-offset-4.margin-top-3p
					button.btn.btn-primary.bg-pink-orange-hover.btn-lg.btn-block.border-round-5x(onClick="window.location.href='http://www.getseam.co/signUp'", role="button") GET SEAM TODAY
	div#footer-page.page.bg-drk-gray.padding-top-1p.padding-bottom-1p
		.row
			.col-md-6
				.row
					.col-md-11.col-md-offset-1.text-left.margin-top-1p
						span.text-left
							a.text-white-orange-hover.text-h2.lsf-icon(href="https://twitter.com/seam_meetings", target="_blank", title="twitter")
							a.text-white-pink-hover.text-h2.lsf-icon(href="https://www.linkedin.com/groups/Improving-Meeting-Efficiency-6671618", target="_blank", title="linkedin")
				.row
					.col-md-11.col-md-offset-1
						h4.text-left.text-white &copy; Powered by SEAM 2014.
			.col-md-6
				.row
					.col-md-offset-8.col-md-4.margin-top-1p
						img.margin-center.img-responsive.img-18p.center-box(src="../../images/logo-noWord.png" ,alt="SEAM")