extends layout

block content
	div#home-page.page.full-page
		.bg-frontpg
			.tagLine
				h2.text-white The newest member in your meetings.
				.btn-box
					a.btn.btn-primary.btn-lg.btn-block.img-30p.margin-center.border-square.margin-top-3p.bg-red-border(href='home#about-page') LEARN MORE
	div#about-page.page.padding-top-7p.bg-white
		.container
			.row
				.col-md-10.col-md-offset-1
					h3 SEAM transforms the way you prep, run, and follow-up with your meetings. Focus on what's important.
					br
			.row
				.col-md-10.col-md-offset-1
					h3 SEAM provides an easy-to-use tool that leverages technology to simplify the process of preparing for, running, and following up on meetings in order to 
						span.text-red.text-bold increase 
						| worker productivity.
					br
			.row
				.col-md-10.col-md-offset-1
					h3 Middle management spends 
						span.text-red.text-bold 17 hours 
						| in meetings weekly.
						br
						span.text-red.text-bold 44% 
						| of those are unproductive.
						br
						| That's 
						span.text-red.text-bold 2.3 months 
						| wasted a year
					br
			.row
				.col-md-10.col-md-offset-1
					h3
						span.text-red.text-bold It's time to take back your time.
					br
			form.form-inline.form-center(role='form', name='userEmail', method='POST', action='addEmail')
				.row.margin-top-3p
					.col-md-6.col-md-offset-3
						input#userEmail.form-control.border-square(name='userEmail', type='email', placeholder='EMAIL')
				.row.margin-top-5p
					.col-md-4.col-md-offset-4
						button.btn.btn-primary.btn-lg.btn-block.margin-center.border-square.bg-red-border(type='submit') I'M READY

		hr.margin-top-5p
		div#team-page.page.bg-white.padding-bottom-1p
			.container
				.row
					.col-md-12
						h1 Meet the team
				.row
					.col-md-4
						img.img-responsive.margin-center(src='images/joLee.jpg', alt='Josephine Lee')
						h5.text-bold JOSEPHINE LEE
						br
						h5 Northwestern Senior
							br
							| Learning and Organizational Change.
							br
							| President of EPIC.
					.col-md-4
						img.img-responsive.margin-center(src='images/AlexPopelard.jpg', alt='Alexandre Popelard')
						h5.text-bold ALEXANDRE POPELARD
						br
						h5 Kellogg School of Management
							br
							| MMM(MBA+MEM)
							br
							| Senior Engineer at Toyota.
					.col-md-4
						img.img-responsive.margin-center(src='images/SuzeeHan.jpg', alt='Suzee Han')
						h5.text-bold SUZEE HAN
						br
						h5 Northwestern Junior
							br
							| Biological Science
							br
							| Director of Project Pitch			
				.row.margin-top-5p
					.col-md-4
						img.img-responsive.margin-center(src='images/MichaelChen.jpg', alt='Michael Chen')
						h5.text-bold MICHAEL CHEN
						br
						h5 Northwestern Junior
							br
							| Computer Science and Biological Science
							br
							| Software Developer at MD Andersen Cancer Center	
					.col-md-4
						img.img-responsive.margin-center(src='images/TommyYu.jpg', alt='Tommy Yu')
						h5.text-bold TOMMY YU
						br
						h5 Northwestern Senior
							br
							| Computer Science
							br
							| Software Developer at Nokia
					.col-md-4
						img.img-responsive.margin-center(src='images/blank.jpg', alt='Abe')
						h5.text-bold ABE
						br
						h5 Our meeting buddy.
				footer.margin-top-5p
					h5 &copy; Powered by SEAM 2014.