extends layout

block content
	.wrapper
		.screen#screen-1(data-video="../../video/meeting.mp4")
			.img.big-image(src="../../images/bg-video.jpg")
		.bg-white-trans-abs
	div#home-page.page.full-page
		.container-95p.margin-center.margin-bottom-10p.mobile-margin-top-150x
			.row.margin-top-8p
				.col-md-12.text-shadow
					h1.text-big-35x.line-height-30x.text-white.text-bold.text-left
						| Say 
						span.text-big-35x.text-bold.text-left.text-ltblue hello 
						| to the newest
					h1.text-big-35x.line-height-30x.text-white.text-bold.text-left member of your meeting
				.col-md-12.margin-top-1p.mobile-margin-top-40x.text-shadow
					h1.line-height-15x.text-big-25x.text-white.text-bold.text-left Bad meetings suck.
					h1.line-height-15x.text-big-25x.text-white.text-bold.text-left We feel your pain.
			.row
				.col-md-12.text-left.mobile-hidden.text-shadow
					h3.line-height-12x.text-white.text-normal.text-left That's why we created SEAM.
					h3.line-height-12x.text-white.text-normal.text-left From meeting prep to run to follow-up,
					h3.line-height-12x.text-white.text-normal.text-left SEAM covers all the bases in helping you
					h3.line-height-12x.text-white.text-normal.text-left hold great meetings. Great meetings cut
					h3.line-height-12x.text-white.text-normal.text-left down on future meetings. And we believe 
					h3.line-height-12x.text-white.text-normal.text-left the fewer meetings the better.
			.row.mobile-margin-top-40x
				.col-md-12.text-center
					a.float-left.btn.btn-primary.btn-lg.border-round-5x.margin-top-3p.bg-blue-transparent.padding-btn-small(onClick="window.location.href='http://www.getseam.co/signUp'", role="button") TRY SEAM FOR FREE
	div#about-page.page.padding-top-3p.bg-white.padding-bottom-5p
		.container-95p.margin-center
			.row
				.col-md-12
					h1.text-big-35x.text-center SEAM's got your back.
			.container-100p.margin-top-1p
					//ul.ch-grid-box
						li
							.ch-item-box
								.ch-info-box
									.ch-info-front-box.ch-img-1-box
										.row
											.col-md-12.margin-top-5p
												h1.text-white.text-center.text-bold GET READY
										.row
											.col-md-12.margin-top-7p.margin-bottom-10p
												h1
													i.text-big-35x.text-center-imp.text-black.flaticon-space25
										.row
											.col-md-12.padding-bottom-10p
												h3.text-white.line-height-5x.text-center.text-normal Focus your meetings
									.ch-info-back-box
										h3 Mouse
										p
										| by Alexander Shumihin
										a(href='http://drbl.in/eAoj') View on Dribbble
						li
							.ch-item-box
								.ch-info-box
									.ch-info-front-box.ch-img-1-box
										.row
											.col-md-12.margin-top-5p
												h1.text-white.text-center.text-bold GET READY
										.row
											.col-md-12.margin-top-7p.margin-bottom-10p
												h1
													i.text-big-35x.text-center-imp.text-black.flaticon-space25
										.row
											.col-md-12.padding-bottom-10p
												h3.text-white.line-height-5x.text-center.text-normal Control your meetings
									.ch-info-back-box
										h3 Mouse
										p
										| by Alexander Shumihin
										a(href='http://drbl.in/eAoj') View on Dribbble
						li
							.ch-item-box
								.ch-info-box
									.ch-info-front-box.ch-img-1-box
										.row
											.col-md-12.margin-top-5p
												h1.text-white.text-center.text-bold GET READY
										.row
											.col-md-12.margin-top-7p.margin-bottom-10p
												h1
													i.text-big-35x.text-center-imp.text-black.flaticon-space25
										.row
											.col-md-12.padding-bottom-10p
												h3.text-white.line-height-5x.text-center.text-normal Never forget your discussions 
									.ch-info-back-box
										h3 Mouse
										p
										| by Alexander Shumihin
										a(href='http://drbl.in/eAoj') View on Dribbble
			.row.margin-top-5p
				.col-md-4
					.bg-green.border-round-5x.container-80p.margin-center
						.row
							.col-md-12.margin-top-5p
								h1.text-white.text-center.text-bold GET READY
						.row
							.col-md-12.margin-top-7p.margin-bottom-10p
								h1
									i.text-big-35x.text-center-imp.text-black.flaticon-space25
						.row
							.col-md-12.padding-bottom-10p
								h3.text-white.line-height-5x.text-center.text-normal Create a clear,
								h3.text-white.line-height-5x.text-center.text-normal easy-to-share agenda
								h3.text-white.line-height-5x.text-center.text-normal using our neat templates.
				.col-md-4
					.bg-pink.border-round-5x.container-80p.margin-center
						.row
							.col-md-12.margin-top-5p
								h1.text-white.text-center.text-bold GET SET
						.row
							.col-md-12.margin-top-7p.margin-bottom-10p
								h1
									i.text-big-35x.text-center-imp.text-black.flaticon-launching1
						.row
							.col-md-12.padding-bottom-10p
								h3.text-white.line-height-5x.text-center.text-normal Start the agenda during the
								h3.text-white.line-height-5x.text-center.text-normal meeting to time discussions,
								h3.text-white.line-height-5x.text-center.text-normal take notes and tag tasks.
				.col-md-4
					.bg-orange.border-round-5x.container-80p.margin-center
						.row
							.col-md-12.margin-top-5p
								h1.text-white.text-center.text-bold GO
						.row
							.col-md-12.margin-top-7p.margin-bottom-10p
								h1
									i.text-big-35x.text-center-imp.text-black.flaticon-rocket1
						.row
							.col-md-12.padding-bottom-10p
								h3.text-white.line-height-5x.text-center.text-normal Get an email recap with
								h3.text-white.line-height-5x.text-center.text-normal notes and tasks after
								h3.text-white.line-height-5x.text-center.text-normal the meeting.
	div#about-page.page.padding-top-3p.bg-drkblue.padding-bottom-5p
		.container-95p.margin-center
			.row
				.col-md-12
					h1.text-big-35x.text-white.text-big-35x.text-center Learn more to improve your meetings.
			.row.margin-top-3p
				.col-md-3
					.container-50p.bg-white-o5.border-round-5x.padding-left-2x.float-right
						i.text-drkblue.flaticon-dollar131
				.col-md-7
					h2.text-left.text-white.margin-top-20x
						| how many 
						span.text-white.text-h2.text-normal dollars 
						| your meetings are saving
			.row.margin-top-3p
				.col-md-3
					.container-50p.bg-white-o5.border-round-5x.padding-left-2x.float-right
						i.text-drkblue.flaticon-time
				.col-md-7
					h2.text-left.text-white.margin-top-20x
						| understand where you can save 
						span.text-white.text-h2.text-normal time
			.row.margin-top-3p
				.col-md-3
					.container-50p.bg-white-o5.border-round-5x.padding-left-9x.float-right
						i.text-drkblue.flaticon-idea2
				.col-md-7
					h2.text-left.text-white.margin-top-20x
						| get feedback on what is most 
						span.text-white.text-h2.text-normal effective
	div#contact-page.page.padding-top-3p.bg-white.padding-bottom-5p
		.container-95p.margin-center
			.row
				.col-md-12
					h1.text-big-35x.text-center Ready to meet the newest member of your meetings?
			.row
				.col-md-2.col-md-offset-5.margin-top-3p
					button.btn.btn-primary.bg-pink-orange-hover.btn-lg.btn-block.border-round-5x(onClick="window.location.href='http://www.getseam.co/signUp'", role="button") GET SEAM TODAY
	div#footer-page.page.bg-drk-gray.padding-top-1p.padding-bottom-1p
		.row
			.col-md-6
				.row
					.col-md-11.col-md-offset-1.text-left.margin-top-1p
						span.text-left
							a.text-white-orange-hover.text-h2.lsf-icon(href="https://twitter.com/seam_meetings", target="_blank", title="twitter")
							a.text-white-pink-hover.text-h2.lsf-icon(href="https://www.linkedin.com/groups/Improving-Meeting-Efficiency-6671618", target="_blank", title="linkedin")
				.row
					.col-md-11.col-md-offset-1
						h4.text-left.text-white &copy; Powered by SEAM 2014.
			.col-md-6
				.row
					.col-md-offset-8.col-md-4.margin-top-1p
						img.margin-center.img-responsive.img-18p(src="../../images/logo-noWord.png" ,alt="SEAM")