doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel="icon" type="image/png" sizes="64x64" href="/images/favicon-64.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16.png")
		link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css')
		link(rel='stylesheet' href='../../stylesheets/bootstrap.min.css')
		link(rel="stylesheet" href="../../big-video/css/bigvideo.css")
		link(rel='stylesheet' href='../../stylesheets/base-mobile.css')
		link(rel='stylesheet' href='../../stylesheets/base.css')
		link(rel='stylesheet' href='../../stylesheets/circle-hover.css')
		link(rel="stylesheet" href="../../stylesheets/ligatures.css")
		link(rel="stylesheet" type="text/css" href="../../stylesheets/flaticon.css")
		title SEAM
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-50079131-1', 'getseam.co');
			ga('send', 'pageview');
	body#home-pg.bg-frontpg-2
		div.navbar.bg-transparent.navbar-inverse.navbar-fixed-top(role='navigation')
			.container-95p.margin-center
				.navbar-header
					button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand.text-white.text-bold(href='home')
						img.img-responsive( src="../../images/logo-landing.png")
				.navbar-collapse.collapse
					if typeof user === 'undefined'
						.navbar-left
							ul.nav.navbar-nav.margin-top-5p
								li
									a.text-h5(class='text-bold visible-login', href='home#home-page') HOME
								li
									a.text-h5(class='text-bold visible-login', href='about') ABOUT
								li
									a.text-h5(class='text-bold visible-login', href='contact') CONTACT
						.navbar-right
							ul.nav.navbar-nav.margin-top-5p
								li
									a.text-h5(class='text-bold visible-login', href='signUp') SIGN UP
								li
									a#admin-btn.text-bold.visible-login.text-h5(href='javascript:void(0)') LOGIN
								li
									a.text-white-orange-hover.visible-login.text-h3.lsf-icon.mobile-hidden(href="https://twitter.com/seam_meetings", target="_blank", title="twitter")
								li
									a.text-blue-pink-hover.visible-login.text-h3.lsf-icon.mobile-hidden(href="https://www.linkedin.com/groups/Improving-Meeting-Efficiency-6671618", target="_blank", title="linkedin")
					else
						.navbar-right
							ul.nav.navbar-nav.margin-top-3p
								li
									a.text-h5(class='text-bold visible-login', href='/dashboard') DASHBOARD
								li
									a.text-h5(class='text-bold visible-login', href='/dashboard/meetings/makeMeeting') CREATE
								li
									a.text-h5(class='text-bold visible-login', href='/dashboard/meetings/pastMeeting') MINUTES
								li
									a.text-h5(class='text-bold visible-login', href='logout') LOG OUT
					form.navbar-form.navbar-right.hidden-login.margin-top-1p(role='form' method='POST', action='login', style='display: none;')
						.form-group.margin-right-5x
							input.border-black.text-small.form-control.form-control-smaller.border-round-5x(type='text', placeholder='EMAIL', name='email')
						.form-group.margin-right-5x
							input.border-black.text-small.form-control.form-control-smaller.border-round-5x(type='password', placeholder='PASSWORD' , name='password')
						button.btn.btn-success.bg-pink-orange-hover.text-small.margin-right-5x.border-round-5x(type='submit') LOGIN
						button.btn.btn-success.bg-pink-orange-hover.text-small.margin-right-5x.border-round-5x(type='button', onClick="parent.location='/google/login'") GOOGLE LOGIN
						a#admin-btn-2.text-bold.hidden-login.text-white(href='javascript:void(0)') X
		block content
		script(src='https://code.jquery.com/jquery.js')
		script(src='../../javascripts/bootstrap.min.js')
		script(src='../../javascripts/jquery.backstretch.min.js')
		script.
			$.backstretch("../../images/bg-video.jpg", {speed: 500});
			$.backstretch("../../images/bg-landing.jpg", {speed: 500});
		script(src='../../javascripts/landingPage.js')
		script(src="../../big-video/js/modernizr-2.5.3.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js")
		script(src="../../big-video/js/jquery-ui-1.8.22.custom.min.js")
		script(src="../../big-video/js/jquery.imagesloaded.min.js")
		script(src="../../big-video/js/video.js")
		script(src="../../big-video/js/bigvideo.js")
		script(src="../../big-video/js/jquery.transit.min.js")
		script(src="../../big-video/video-play.js")