extends layout2

block content
	.container-75p.margin-center.min-height-100p
		.row.margin-top-8p.mobile-margin-top-150x
			.col-md-12
				img.img-responsive.margin-center.img-10p(src="images/logo.png")
		.row
			.col-md-12
				h2.text-upper.text-normal Welcome, Please Login.
		.row
			.col-md-6.col-md-offset-3.margin-top-3p
				form.navbar-form(role='form' method='POST', action='login')
					.row
						.col-md-8.col-md-offset-2
							input.form-control.border-round-5x(type='text', placeholder='EMAIL', name='email')
					.row
						.col-md-8.col-md-offset-2.margin-top-3p
							input.form-control.border-round-5x(type='password', placeholder='PASSWORD' , name='password')
					.row
						.col-md-6.col-md-offset-3.margin-top-3p
							button.btn.btn-primary.bg-pink-orange-hover.btn-lg.btn-block.border-round-5x(type='submit') LOCAL LOGIN
					.row
						.col-md-6.col-md-offset-3.margin-top-3p
							button.btn.btn-primary.bg-pink-orange-hover.btn-lg.btn-block.border-round-5x(type='button', onClick="parent.location='/google/login'") GOOGLE LOGIN
	div#footer-page.page.bg-drk-gray.padding-top-1p.padding-bottom-1p
		.row
			.col-md-6
				.row
					.col-md-11.col-md-offset-1.text-left.margin-top-1p
						span.text-left
							a.text-white-orange-hover.text-h2.lsf-icon(href="https://twitter.com/seam_meetings", target="_blank", title="twitter")
							a.text-white-pink-hover.text-h2.lsf-icon(href="https://www.linkedin.com/groups/Improving-Meeting-Efficiency-6671618", target="_blank", title="linkedin")
				.row
					.col-md-11.col-md-offset-1
						h4.text-left.text-white &copy; Powered by SEAM 2014.
			.col-md-6
				.row
					.col-md-offset-8.col-md-4.margin-top-1p
						img.margin-center.img-responsive.img-18p.center-box(src="../../images/logo-noWord.png" ,alt="SEAM")