extends ../dashboard/sidebarMeetings

block interfaces
	.bg-white(style="margin-left:35%; top:0px; position:absolute; width:65%; float:right")
		.container-85p.margin-center
			form.form-inline.form-center(role='form', method='POST', action='/addmeeting' id='addmeeting')
				.row.padding-top-5p.margin-bottom-3p
					.col-md-10.col-md-offset-1.text-center.red-input
						h2.text-red IN PROGRESS
				.row
					.col-md-9
						h4.text-left.text-black.text-capital email megan everett to book ford design studio for project pitch
					.col-md-3.text-center.margin-top-1p
						a.text-h4.text-black.margin-left-5p(href="#") EDIT
						a.text-h4.text-black.margin-left-5p(href="#") REVIEW
				.row
					.col-md-9
						h4.text-left.text-black.text-capital contact kellogg alum to moderate panel
					.col-md-3.text-center.margin-top-1p
						a.text-h4.text-black.margin-left-5p(href="#") EDIT
						a.text-h4.text-black.margin-left-5p(href="#") REVIEW
				.row
					.col-md-9
						h4.text-left.text-black.text-capital meet with president of isbe to coordinate joint social event
					.col-md-3.text-center.margin-top-1p
						a.text-h4.text-black.margin-left-5p(href="#") EDIT
						a.text-h4.text-black.margin-left-5p(href="#") REVIEW
				.row
					.col-md-9
						h4.text-left.text-black.text-capital launch newe database website
					.col-md-3.text-center.margin-top-1p
						a.text-h4.text-black.margin-left-5p(href="#") EDIT
						a.text-h4.text-black.margin-left-5p(href="#") REVIEW
				.row.padding-top-5p.margin-bottom-3p
					.col-md-10.col-md-offset-1.text-center.red-input
						h2.text-red COMPLETED TASKS
				.row
					.col-md-9
						h4.text-left.text-black.text-capital email speakers about attending workshop
					.col-md-3.text-center.margin-top-1p
						a.text-h4.text-black.margin-left-5p(href="#") EDIT
						a.text-h4.text-black.margin-left-5p(href="#") REVIEW
				.row
					.col-md-9
						h4.text-left.text-black.text-capital order pizza for social event
					.col-md-3.text-center.margin-top-1p
						a.text-h4.text-black.margin-left-5p(href="#") EDIT
						a.text-h4.text-black.margin-left-5p(href="#") REVIEW
				.row
					.col-md-9
						h4.text-left.text-black.text-capital prepare materials for kellogg
					.col-md-3.text-center.margin-top-1p
						a.text-h4.text-black.margin-left-5p(href="#") EDIT
						a.text-h4.text-black.margin-left-5p(href="#") REVIEW
				.row
					.col-md-9
						h4.text-left.text-black.text-capital email Mike about speaking at workshop
					.col-md-3.text-center.margin-top-1p
						a.text-h4.text-black.margin-left-5p(href="#") EDIT
						a.text-h4.text-black.margin-left-5p(href="#") REVIEW