extends baseLayout

block content		
	div#home-page.page.min-height-100p
		.container-100p
				.row.margin-top-3p.mobile-margin-top-150x
					.col-md-12
						h1.text-black.text-normal Bugs? Feedback? We'd love to hear it.
				form.form-horizontal(action='/contact', method='post', role='form')
				.form-group.margin-top-3p
					.col-md-4.col-md-offset-4.margin-top-1p
						input.text-h4.text-left.form-control.outline-gray.form-square(name='names', type='text', placeholder='Name', required)
				.form-group.margin-top-3p
					.col-md-4.col-md-offset-4.margin-top-1p
						input.text-h4.text-left.form-control.outline-gray.form-square(name='email', type='text', placeholder='Email', required)
				.form-group.margin-top-3p
					.col-md-4.col-md-offset-4.margin-top-1p
						textarea.text-h4.text-left.form-control.outline-gray(name='comments', rows='5', placeholder='Message', required)
				.form-group
					.col-md-2.col-md-offset-5.margin-top-3p
						button.btn.btn-primary.bg-pink-orange-hover.btn-lg.btn-block.border-round-5x(type='submit') Send Message