doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/base.css')
		link(rel='stylesheet', href='/stylesheets/fonts.css')
		link(rel="stylesheet" href="/stylesheets/font-awesome.min.css")
		title= title
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-48300427-1', 'seam.herokuapp.com');
			ga('send', 'pageview');
	body.bg-gray
		#wrapper
			nav.navbar.navbar-inverse.navbar-fixed-top.bg-blue-gray(role='navigation')
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='index.html') SEAM Meetings
				.collapse.navbar-collapse.navbar-ex1-collapse
					ul.nav.navbar-nav.side-nav.bg-blue-gray.text-left.padding-top-5p
						li.text-left.text-h5
							a.text-left(href='index.html')
								i.fa.fa-home.margin-left-15x.text-h5
								i.text-no-transform.margin-left-15x.text-h5 HOME
						li
							a.text-left(href='index.html')
								i.fa.fa-pencil.margin-left-15x.text-h5
								i.text-no-transform.margin-left-15x.text-h5 CREATE
						li
							a.text-left(href='dashboard/meetings/start')
								i.fa.fa-clock-o.margin-left-15x.text-h5
								i.text-no-transform.margin-left-15x.text-h5 MINUTES
						li
							a.text-left(href='index.html')
								i.fa.fa-check-square.margin-left-15x.text-h5
								i.text-no-transform.margin-left-15x.text-h5 TASKS
					ul.nav.navbar-nav.navbar-right.navbar-user
						li.text-left.text-h5.margin-right-15x
							h5.text-left.text-orange(style="margin-top:17px" href='index.html') SUZEE HAN
						li.text-left.text-h5
							a.text-left.text-gray.text-h5(href='index.html') HELP
						li.text-left.text-h5
							a.text-left.text-gray.text-h5(href='index.html') SETTINGS
						li.text-left.text-h5.margin-right-15x
							a.text-left.text-gray.text-h5(href='index.html') LOGOUT
			#page-wrapper.bg-gray.margin-top-1p
				block content
		script(src='js/jquery-1.10.2.js')
		script(src='js/bootstrap.js')
