extends baseLayout

block content		
	div#home-page.page.min-height-100p
		.container-100p
				.row.margin-top-3p.mobile-margin-top-150x
					.col-md-12
						h1.text-black.text-normal Welcome to SEAM
				.row
					.col-md-12
						h3.text-black.text-normal 1. Quickly create a clear agenda to share with all attendees members
				.row
					.col-md-12
						h3.text-black.text-normal 2. Use the timer, shared notes and tasks features to stay focused
				.row
					.col-md-12
						h3.text-black.text-normal 3. Automatically receive notes and tasks from the meeting in an email
				.row.margin-top-3p
					.col-md-2.col-md-offset-5
						button.btn.btn-primary.bg-pink-orange-hover.btn-lg.btn-block.border-round-5x(onClick="window.location.href='/dashboard'", role="button") GET STARTED