extends dashboard

block content
	.bg-ltgray.float-left.top-0x(style="width:26%; margin-left:14%; position:absolute; min-height:100%; height: auto;")
		.row.margin-top-10p
			.col-md-12
				h5
					a.text-black.text-upper.text-bold(href="interfaceTasks") all tasks
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-black.text-h5.text-upper(href="interfaceTasks") epic all hands meeting
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-black.text-h5.text-upper(href="interfaceTasks") farley center advisory board meeting
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-black.text-h5.text-upper(href="interfaceTasks") meeting with dean ottino
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-black.text-h5.text-upper(href="interfaceTasks") project pitch debrief
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-black.text-h5.text-upper(href="interfaceTasks") all business meeting
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-black.text-h5.text-upper.text-center(href="interfaceTasks") ISBE ANALYTICS
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-black.text-h5.text-upper.text-center(href="interfaceTasks") NSH EXEC COLLAB
	block interfaces